.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link_disabled {
  color: #999;
  pointer-events: none;
  text-decoration: none;
}
