.container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.image_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  border: 1px solid #000000;
}

.image_thumb {
  max-width: 6rem;
  height: 6rem;
}

.cart_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prices_container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  /* align-items: center; */
}

.link {
  width: 12rem;
}

.items {
}

.item {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
