.container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 8rem 2rem;
}

.image {
  max-height: 32rem;
  padding: 2rem;
  margin: 0 1rem;
  border: 1px solid #000000;
}

.thumb_image_container {
  position: relative;
  display: inline-block;
}

.thumb_image {
  display: block;
  max-width: 4rem;
  padding: 1rem;
  border: 1px solid #000000;
}

.thumb_image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.thumb_image_container:hover .thumb_image_overlay {
  opacity: 1;
}

.container_images {
  display: flex;
  flex-direction: column;
}

.images {
  display: flex;
}

.info {
  padding: 0 2rem;
}

/* body.active_modal {
  overflow-y: hidden;
} */

.btn_modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 2rem;
  border-radius: 3px;
  max-width: 100%;
  max-height: 90%;
}

.close_modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.button {
  border: 3px solid black;
}

.quantity_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.quantity_container button {
  width: 2rem;
  height: 2rem;
}

.sizes_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.sizes_container button {
  width: auto;
  height: 2rem;
}

.colors_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.colors_container button {
  width: auto;
  height: 2rem;
}

.status {
  display: flex;
  gap: 1rem;
}

.add_to_cart {
  background: #00cccc;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.2rem;
}
