.card_container {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem 12rem;
}

.card_container .item {
  align-self: flex-start;
}

.react-router-link {
  /* Your global styling here */
  color: #000000;
  text-decoration: none;
}

body.active_modal {
  overflow-y: hidden;
}
